resources/images/img-bedford-bizarre.jpg
resources/images/img-berryblitz.jpg
resources/images/img-donut.jpg
resources/images/img-locations-background.jpg
resources/images/img-mission-background.jpg
resources/images/img-myrtle-ave.jpg
resources/images/img-spiced-rum.jpg
resources/images/img-tea-cozy-logo.png
resources/images/img-tea-cozy-redline.jpg

# .gitignore
