.main_container {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    font-weight: bolder;
}

h4, figcaption {
    font-weight: bold;
}

h5 a {
    color: seashell;
}

.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 200;
    background-color: black;
    opacity: 1;
    width: 100%;
  }

  .wrapper {
    position: relative;
    top: 69px;

    z-index: 1;
  }

/* Navbar */
#logo {
    height: 50px;
}

nav {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid seashell;
}

@media only screen and (max-width: 600px) {
    li a {
      font-size: .75em;
    }

    #mission_section h4 {
        font-weight: normal;
        font-size: smaller;
    }
  }


li {
    display: inline;
    margin-left: 1rem;
}

li a:link {
    color: seashell;
}

li a:visited {
    color: seashell;
}

li a:hover {
    color: rgb(181, 180, 180);
}

li a:active {
    color: seashell;
}


/* Mission */

#mission_section {
    margin: 0 auto;
    background-image: url('./images/img-mission-background.jpg');
    min-height: 700px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mission_section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 1200px;
    height: 10%;
    padding: .7em 0;
}

#mission_section h2 {
    margin-bottom: 15px;
}

/* Tea of the month */
figure img{
    width: 300px;
    margin-top: 25px;
}

#tea_section {
    max-width: 1000px;
    margin: 0 auto;
}

#tea_images_header {
    display: flex;
    flex-direction: column;
    height: 6em;
    justify-content: space-evenly;
    margin-top: 40px;
}

#tea_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

figcaption{
    margin-top: 10px;
}

/* Locations */

#locations_section {
    background-image: url('./images/img-locations-background.jpg');
    min-height: 500px;
    max-width: 1200px;
    margin: 60px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations_section h2 {
    margin-top: 15px;
}

#locations_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 15px;
    padding-bottom: 10px;
}

.location {
    background-color: black;
    opacity: 1;
    width: 300px;
    padding-top: 15px;
    /* padding-bottom: 25px; */
    /* line-height: 2.0em; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: column;
}

#footer_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding-bottom: 70px;
}

#copyright {
    align-self: flex-start;
    margin-left: 20px;
    margin-bottom: 40px;
}

